<div style="width: 100%">
  <h1>NON DRAGGABLE</h1>
  <app-carousel
    [draggable]="false"
    [freeMode]="false"
    [slidesPerView]="4.5"
    [slides]="[
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
    ]"
  ></app-carousel>
</div>

<div style="width: 100%">
  <h1>FORCE SLIDE TO</h1>
  <input #value type="number" />
  <button (click)="updateForceSlideTo(+value.value)">update slides</button>
  <app-carousel
    [stepSlides]="2"
    [freeMode]="false"
    [slidesPerView]="4.5"
    [slides]="[
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
    ]"
    [forceSlideTo]="slideTo()"
  ></app-carousel>
</div>

<div style="width: 100%">
  <h1>DYNAMIC SLIDES</h1>
  <button (click)="updateRandomSlides()">update slides</button>
  <app-carousel
    [stepSlides]="2"
    [freeMode]="false"
    [slidesPerView]="4.5"
    [slides]="randomSlides()"
  ></app-carousel>
</div>

<div style="width: 100%">
  <h1>LOOP</h1>
  <app-carousel
    [stepSlides]="2"
    [loop]="true"
    [freeMode]="false"
    [slidesPerView]="4.5"
    [slides]="[
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
    ]"
  ></app-carousel>
</div>

<div style="width: 100%">
  <h1>LOOP CENTER</h1>
  <app-carousel
    [stepSlides]="3"
    [center]="true"
    [loop]="true"
    [mouseWheel]="true"
    [freeMode]="false"
    [slidesPerView]="4.5"
    [slides]="[
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
    ]"
  ></app-carousel>
</div>

<div style="width: 80%; padding: 50px">
  <h1>NOT CENTER BOUNDS</h1>
  <app-carousel
    [center]="true"
    [notCenterBounds]="true"
    [freeMode]="false"
    [slides]="[
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
    ]"
  >
  </app-carousel>
</div>

<div style="width: 80%; padding: 50px">
  <h1>NOT CENTER BOUNDS REWIND</h1>
  <app-carousel
    [center]="true"
    [notCenterBounds]="true"
    [freeMode]="false"
    [rewind]="true"
    [slides]="[
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
    ]"
  >
  </app-carousel>
</div>

<div style="width: 80%; padding: 50px">
  <app-carousel
    [center]="true"
    [notCenterBounds]="true"
    [freeMode]="false"
    [slides]="[
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
    ]"
  >
  </app-carousel>
</div>

<div style="width: 100%; padding: 0px">
  <h1>MARGIN</h1>
  <app-carousel
    [marginStart]="50"
    [marginEnd]="50"
    [rewind]="true"
    [mouseWheel]="true"
    [freeMode]="false"
    [slides]="[
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
    ]"
  ></app-carousel>
</div>

<div style="width: 80%; padding: 50px">
  <h1>REWIND</h1>
  <app-carousel
    #myCarousel
    [rewind]="true"
    [freeMode]="false"
    [slidesPerView]="3"
    [slides]="[
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
    ]"
  >
    <div class="custom-control" *carouselNavLeft><span>TEST LEFT</span></div>
    <div class="custom-control" *carouselNavRight><span>TEST RIGHT</span></div>
  </app-carousel>

  <app-navigation-left-external
    [carousel]="myCarousel"
  ></app-navigation-left-external>
  <app-navigation-right-external
    [carousel]="myCarousel"
  ></app-navigation-right-external>
</div>

<div style="width: 80%; padding: 50px">
  <app-carousel
    #myCarousel2
    [freeMode]="false"
    [slides]="[
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
    ]"
  ></app-carousel>

  <app-navigation-left-external
    [carousel]="myCarousel2"
  ></app-navigation-left-external>
  <app-navigation-right-external
    [carousel]="myCarousel2"
  ></app-navigation-right-external>
</div>

<div style="width: 80%; padding: 50px">
  <h1>FREEMODE</h1>
  <app-carousel
    [freeMode]="true"
    [slides]="[
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
    ]"
  ></app-carousel>
</div>

<div style="width: 100%">
  <app-carousel
    [freeMode]="false"
    [slidesPerView]="2.5"
    [slides]="[
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
    ]"
  ></app-carousel>
</div>

<div style="width: 80%; padding: 50px">
  <h1>BREAKPOINTS</h1>
  <app-carousel
    [freeMode]="false"
    [breakpoints]="{
      '(max-width: 768px)': { slidesPerView: 1.5, spaceBetween: 2 },
      '(min-width: 769px) and (max-width: 1024px)': {
        slidesPerView: 2.5,
        spaceBetween: 5,
      },
      '(min-width: 1025px)': { slidesPerView: 3.5, spaceBetween: 1 },
    }"
    [slides]="[
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
    ]"
  ></app-carousel>
</div>

<div style="width: 80%; padding: 50px">
  <app-carousel
    #myCarousel
    [slidesPerView]="3"
    [freeMode]="false"
    [pagination]="{
      type: 'dot',
      external: true,
      clickable: true,
    }"
    [slides]="[
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
    ]"
  ></app-carousel>
  <div class="pagination-external">
    <span>External pagination</span>
    <ng-container
      *ngTemplateOutlet="myCarousel.paginationTemplate"
    ></ng-container>
  </div>
</div>

<div style="width: 80%; padding: 50px">
  <h1>CENTER</h1>
  <app-carousel
    [freeMode]="false"
    [center]="true"
    [slides]="[
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
    ]"
  ></app-carousel>
</div>

<div style="width: 80%; padding: 50px">
  <app-carousel
    [freeMode]="true"
    [center]="true"
    [slides]="[
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
    ]"
  ></app-carousel>
</div>

<div style="width: 80%; padding: 50px">
  <app-carousel
    [slidesPerView]="5"
    [spaceBetween]="0"
    [resistance]="false"
    [slides]="[
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
    ]"
  ></app-carousel>
</div>

<div style="width: 80%; padding: 50px">
  <app-carousel
    [slidesPerView]="1"
    [slides]="[
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
    ]"
  ></app-carousel>
</div>

<div style="width: 80%; padding: 50px">
  <app-carousel
    [slidesPerView]="1"
    [freeMode]="false"
    [spaceBetween]="0"
    [slides]="[
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
    ]"
  ></app-carousel>
</div>

<div style="width: 80%; padding: 50px">
  <app-carousel>
    <div *slide>
      <span>teST</span>
    </div>
    <div *slide>
      <img src="https://picsum.photos/300/200?random=5" width="50" />
    </div>
    <div *slide>
      <span>teST</span>
    </div>
    <div *slide>
      <span>teST</span>
      <button>button</button>
    </div>
    <div *slide>
      <span>teST</span>
    </div>
    <div *slide>
      <span>teST</span>
    </div>
    <div *slide>
      <span>teST</span>
    </div>
    <div *slide>
      <span>teST</span>
    </div>
    <div *slide>
      <span>teST</span>
    </div>
  </app-carousel>
</div>

<div style="width: 80%; padding: 50px">
  <app-carousel
    [slidesPerView]="7"
    [marginStart]="0"
    [marginEnd]="0"
    [initialSlide]="0"
    [slides]="[
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
    ]"
  ></app-carousel>
</div>

<div style="width: 80%; padding: 50px">
  <app-carousel
    [peekEdges]="{
      relativeOffset: 0.25,
    }"
    [slidesPerView]="3"
    [spaceBetween]="0"
    [slides]="[
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
    ]"
  ></app-carousel>
</div>

<div style="width: 80%; padding: 50px">
  <h1>BLOCK DRAG ON ELEMENTS</h1>
  <app-carousel [dragIgnoreSelector]="'[data-carousel-no-drag], button'">
    <div *slide>
      <span>teST</span>
    </div>
    <div *slide>
      <img src="https://picsum.photos/300/200?random=5" width="50" />
    </div>
    <div *slide>
      <span data-carousel-no-drag>teST</span>
    </div>
    <div *slide>
      <span>teST</span>
      <button>button</button>
    </div>
    <div *slide>
      <span>teST</span>
    </div>
    <div *slide>
      <span>teST</span>
    </div>
    <div *slide>
      <span>teST</span>
    </div>
    <div *slide>
      <span>teST</span>
    </div>
    <div *slide>
      <span>teST</span>
    </div>
  </app-carousel>
</div>

<div style="width: 80%; padding: 50px">
  <h1>BY KEY</h1>
  <input #valueKey type="string" />
  <button (click)="carousel.slideToKey(valueKey.value)">GO</button>
  <app-carousel
    #carousel
    [dragIgnoreSelector]="'[data-carousel-no-drag], button'"
  >
    <div *slide>
      <span>teST</span>
    </div>
    <div *slide>
      <img src="https://picsum.photos/300/200?random=5" width="50" />
    </div>
    <div *slide="'test-id'">
      <span data-carousel-no-drag>teST</span>
    </div>
    <div *slide>
      <span>teST</span>
      <button>button</button>
    </div>
    <div *slide>
      <span>teST</span>
    </div>
    <div *slide>
      <span>teST</span>
    </div>
    <div *slide>
      <span>teST</span>
    </div>
    <div *slide>
      <span>teST</span>
    </div>
    <div *slide>
      <span>teST</span>
    </div>
  </app-carousel>
</div>

<div style="width: 80%; padding: 50px">
  <app-carousel
    [slidesPerView]="'auto'"
    [marginStart]="0"
    [marginEnd]="0"
    [slides]="[
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
    ]"
  ></app-carousel>
</div>

<div style="width: 80%; padding: 50px">
  <app-carousel
    [slidesPerView]="3.6"
    [marginStart]="0"
    [marginEnd]="0"
    [slides]="[
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
    ]"
  ></app-carousel>
</div>

<div style="width: 80%; padding: 50px">
  <app-carousel
    [slidesPerView]="3.5"
    [marginStart]="0"
    [marginEnd]="0"
    [slides]="[
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
    ]"
  ></app-carousel>
</div>

<div style="width: 80%; padding: 50px">
  @let slides =
    [
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
    ];
  <app-carousel #master [slidesPerView]="3" [slides]="slides"></app-carousel>
  <div style="width: 50%; justify-self: center">
    <app-carousel
      [slidesPerView]="3"
      [thumbsFor]="master"
      [slides]="slides"
      [debug]="false"
    ></app-carousel>
  </div>
</div>

<div style="height: 500px; width: 50%">
  <h1>VERTICAL</h1>
  <app-carousel
    [slidesPerView]="3.5"
    [marginStart]="0"
    [marginEnd]="0"
    [axis]="'vertical'"
    [slides]="[
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
    ]"
  ></app-carousel>
</div>

<div style="width: 80%; padding: 50px">
  <h1>RIGHT TO LEFT</h1>
  <app-carousel
    [slidesPerView]="3.5"
    [marginStart]="0"
    [marginEnd]="0"
    [direction]="'rtl'"
    [slides]="[
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
    ]"
  ></app-carousel>
</div>

<div style="width: 80%; padding: 50px">
  <h1>vIRTUAL</h1>
  <app-carousel
    [slidesPerView]="3.5"
    [marginStart]="0"
    [marginEnd]="0"
    [virtual]="true"
    [slides]="[
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
    ]"
  ></app-carousel>
</div>

<div style="width: 80%; padding: 50px">
  <h1>vIRTUAL LOOP</h1>
  <app-carousel
    [slidesPerView]="3.5"
    [loop]="true"
    [marginStart]="0"
    [marginEnd]="0"
    [virtual]="true"
    [slides]="[
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
      300 | randomSrc: 200,
    ]"
  ></app-carousel>
</div>
